body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
}

h1 {
    background-color: #8ae4ac;
    color: #021313;
}

.input {
    display: flex;
    justify-content: space-around;
}

.input2 {
    display: flex;
    justify-content: space-around;
}

.side {
    margin-top: 10px;
    outline: none;
    border-radius: 7px;
    border: solid #b5d3d3;
    padding: 10px;
}

.side:focus {
    border: solid #3b6868b9;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button {
    background-color: rgb(183, 170, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgba(168, 72, 168, 0.726);
}

.button-container button:active {
    border-color: rgb(252, 179, 227);
    transform: translateY(5px);
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.samping {
    display: flex;
    justify-content: space-around;
}