body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
}

h1 {
    background-color: #00ffff;
}

.input {
    display: flex;
    justify-content: space-around;
}

.input2 {
    display: flex;
    justify-content: space-around;
}

.side {
    margin-top: 10px;
    outline: none;
    border-radius: 7px;
    border: solid #48e6e6;
    padding: 10px;
}

.side:focus {
    border: solid #021313;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button {
    background-color: grey;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(184, 107, 107);
}

.button-container button:active {
    border-color: rgb(206, 166, 166);
    transform: translateY(1px);
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.samping {
    display: flex;
    justify-content: space-around;
}